
@font-face {
  font-family: "Objective-Regular";
 
  src: url("../fonts/Objective-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Objective-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Objective-Regular.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Objective-Regular.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Objective-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Objective-Regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Objective-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Objective-Bold";
  src: url("../fonts/Objective-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Objective-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Objective-Bold.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Objective-Bold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Objective-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Objective-Bold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Objective-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

textarea{
    padding:10px;
}

.li_star{
    display: inline-block;
    color: #F0F0F0;
    text-shadow: 0 0 1px #666666;
    font-size: 45px;

}

.li_star2{
    display: inline-block;
    color: #F0F0F0;
    text-shadow: 0 0 1px #666666;
    font-size: 45px;

}

.highlight, .selected {
    color:#F4B30A;
    text-shadow: 0 0 1px #F48F0A;

}

.highlight_red, .selected_red {
    color:#FF0000;
    text-shadow: 0 0 1px #FF0000;

}

.highlight_green, .selected_green {
    color:#08B449;
    text-shadow: 0 0 1px #08B449;

}
 li{
            cursor: pointer;
 }


label{
     font-family: Objective-Regular;
}
strong{
    font-family: Objective-Bold;
}
div {
  font-family: Objective-Regular;
}
.transaction-info{

  margin: 80px 0;
}

.transaction-info img{
  margin: 0 auto;
}

.transaction-secure{
  background: #0054A6;
}

.transaction-secure h6{
  color: #fff;
  margin-top: 2em;
  line-height: 10px;
}
.transaction-grey{
  background: #EAEAEA;
}

.padding-top-bottom{
    padding:10px 0px;
}

.red-fail{
  color: #9e0b0f;
}


.label-text{
font-family: Objective-Regular;
font-size:12px;
margin-bottom: 8px;
}

.label-text-title{
font-family: Objective-Bold;
font-weight:100;
font-size:14px;
}

.footer_grey
{
	padding-top: 20px;
    padding-left: 10px;
}
    .open {
        display: block;
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 1s;
    }
    
    @keyframes fadeInOpacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    .hide {
        visibility: hidden;
        opacity: 0;
        padding: 0;
        position: absolute;
    }
    
    .rating {
        display: flex;
        width: 100%;
        justify-content: center;
        overflow: hidden;
        flex-direction: row-reverse;
        height: 50px;
        position: relative;
    }
    
    .rating-0 {
        filter: grayscale(100%);
    }
    
    .rating>input {
        display: none;
    }
    
    .rating>label {
        cursor: pointer;
        width: 40px;
        height: 40px;
        margin-top: auto;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 76%;
        transition: .3s;
    }

    .rating > input:checked ~ label,
    .rating > input:checked ~ label ~ label {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    }
    .star_yellow{
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    }

    .star_red{
        
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23FF0000' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    }

    
    .star_green{
        
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%2308B449' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    }
    
    
    .rating>input:not(:checked)~label:hover,
    .rating>input:not(:checked)~label:hover~label {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    }
    
    .emoji-wrapper {
        width: 100%;
        text-align: center;
        height: 100px;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .emoji-wrapper:before,
    .emoji-wrapper:after {
        content: "";
        height: 15px;
        width: 100%;
        position: absolute;
        left: 0;
        z-index: 1;
    }
    
    .emoji-wrapper:before {
        top: 0;
    }
    
    .emoji-wrapper:after {
        bottom: 0;
    }
    
    .emoji {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: .3s;
    }
    
    .emoji>svg {
        margin: 15px 0;
        width: 70px;
        height: 70px;
        flex-shrink: 0;
    }
    
    #rating-1:checked~.emoji-wrapper>.emoji {
        transform: translateY(-100px);
    }
    
    #rating-2:checked~.emoji-wrapper>.emoji {
        transform: translateY(-200px);
    }
    
    #rating-3:checked~.emoji-wrapper>.emoji {
        transform: translateY(-300px);
    }
    
    #rating-4:checked~.emoji-wrapper>.emoji {
        transform: translateY(-400px);
    }
    
    #rating-5:checked~.emoji-wrapper>.emoji {
        transform: translateY(-500px);
    }
    /* for two level emotion */
    
    .feedback {
        max-width: 360px;
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    
    body {
        background-color: #fff;
    }
                ul.ks-cboxtags li {
                display: inline;
                font-size: 15px;
            }
            
            ul.ks-cboxtags li label {
                display: inline-block;
                background-color: rgba(255, 255, 255, .9);
                border: 1px solid lightgrey;
                color: #11111;
                border-radius: 5px;
                white-space: nowrap;
                margin: 3px 0px;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                -webkit-tap-highlight-color: transparent;
                transition: all .2s;
            }
            
            ul.ks-cboxtags li label {
                padding: 17px 12px;
                cursor: pointer;
            }
            .labefontsize{
				font-size: 12px;
                font-family:Objective-Regular;
			}
            ul.ks-cboxtags li label::before {
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                padding: 2px 6px 2px 2px;
                transition: transform .3s ease-in-out;
            }
            
            ul.ks-cboxtags li input[type="checkbox"]:checked+label::before {
                transform: rotate(-360deg);
                transition: transform .3s ease-in-out;
            }
            
            ul.ks-cboxtags li input[type="checkbox"]:checked+label {
                border: 1px solid #08B449;
                background-color: #08B449;
                color: #fff;
                transition: all .2s;
            }
            
            ul.ks-cboxtags li input[type="checkbox"] {
                display: absolute;
            }
            
            ul.ks-cboxtags li input[type="checkbox"] {
                position: absolute;
                opacity: 0;
            }
            
            
            
            p {
                font-family: Arial;
                font-size: 22px;
                font-weight: 500;
            }
            
            label {
                font-family: Arial;
                font-weight: normal;
            }
            .rating1 {
                display: flex;
                width: 100%;
                justify-content: center;
                overflow: hidden;
                flex-direction: row-reverse;
                height: 50px;
                position: relative;
            }
            
            .rating1-0 {
                filter: grayscale(100%);
            }
            
            .rating1>input {
                display: none;
            }
            
            .rating1>label {
                cursor: pointer;
                width: 40px;
                height: 40px;
                margin-top: auto;
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 76%;
                transition: .3s;
            }
            
            .rating1>input:checked~label,
            .rating1>input:checked~label~label {
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
            }
            
            .rating1>input:not(:checked)~label:hover,
            .rating1>input:not(:checked)~label:hover~label {
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
            }
            
            .emoji-wrapper1 {
                width: 100%;
                text-align: center;
                height: 100px;
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;
            }
            
            .emoji-wrapper1:before,
            .emoji-wrapper1:after {
                content: "";
                height: 15px;
                width: 100%;
                position: absolute;
                left: 0;
                z-index: 1;
            }
            
            .emoji-wrapper1:before {
                top: 0;
            }
            
            .emoji-wrapper1:after {
                bottom: 0;
            }
            
            .emoji1 {
                display: flex;
                flex-direction: column;
                align-items: center;
                transition: .3s;
            }
            
            .emoji1>svg {
                margin: 15px 0;
                width: 70px;
                height: 70px;
                flex-shrink: 0;
            }
            
            #rating-6:checked~.emoji-wrapper1>.emoji1 {
                transform: translateY(-100px);
            }
            
            #rating-7:checked~.emoji-wrapper1>.emoji1 {
                transform: translateY(-200px);
            }
            
            #rating-8:checked~.emoji-wrapper1>.emoji1 {
                transform: translateY(-300px);
            }
            
            #rating-9:checked~.emoji-wrapper1>.emoji1 {
                transform: translateY(-400px);
            }
            
            #rating-10:checked~.emoji-wrapper1>.emoji1 {
                transform: translateY(-500px);
            }
            
            .feedback1 {
                max-width: 360px;
                width: 100%;
                padding: 0px;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
            }
            .submit {
					font-family: Objective-Regular;
                   margin-top: 1em;
                    color: #fff !important;
                    text-transform: uppercase;
                    text-decoration: none;
                    background: #0054A6;
                    border-radius: 4px;
					border: none;
					display: inline-block;
                    transition: all 0.4s ease 0s;
                    align-items: center;
					text-align: center;
					padding: 10px 15px;
					margin: 4px 2px;
                }
                
                .submit:hover {
                    background: #0054A6;
                    transition: all 0.4s ease 0s;
                }
                .thankyou {
                  position: absolute;
                  width: 400px;
                  height: 200px;
				  align-items: center;
				  margin-right:50%;
                }
				#myDIV {
				display: none;
				width: 100%;
				padding: 12px 20px;
				max-width: 500px;
				min-width: 400px;
				height: 103px;
				box-sizing: border-box;
				border: none;
				border-bottom: 2px solid #ACD58A;
				background: #F3F3F3;
				color:#565656;
				align-items: center;
				position: relative;
				}
				#messageBox1 {
				max-width: 500px;
				min-width: 350px;
				height: 100px;
				width:50%;
				box-sizing: border-box;
				border: none;
				border-bottom: 2px solid #ACD58A;
				background: #F3F3F3;
				color:#565656;
				align-items: center;
				position: relative;
				}
                #messageBox2 {
				max-width: 500px;
				min-width: 350px;
				height: 100px;
				width:50%;
				box-sizing: border-box;
				border: none;
				border-bottom: 2px solid #ACD58A;
				background: #F3F3F3;
				color:#565656;
				align-items: center;
				position: relative;
				}
               #messageBox3 {
				max-width: 500px;
				min-width: 350px;
				height: 100px;
				width:50%;
				box-sizing: border-box;
				border: none;
				border-bottom: 2px solid #ACD58A;
				background: #F3F3F3;
				color:#565656;
				align-items: center;
				position: relative;
				}
                .messageBoxEmail {
				max-width: 500px;
				min-width: 350px;
				height: 150px;
				width:50%;
				box-sizing: border-box;
				border: none;
				border-bottom: 2px solid #ACD58A;
				background: #F3F3F3;
				color:#565656;
				align-items: center;
				position: relative;
				}
                #box {
				max-width: 500px;
				min-width: 350px;
				height: 100px;
				width:50%;
				box-sizing: border-box;
				border: none;
				border-bottom: 2px solid #ACD58A;
				background: #F3F3F3;
				color:#565656;
				align-items: center;
				position: relative;
				}
				.container-fluid {
				width: 100%;
				max-width: 100%;
				}
              input[type=text] {
                  max-width: 500px;
				min-width: 350px;
				
				width:50%;
             
              padding: 12px 10px;
              margin: 5px 0;
             box-sizing: border-box;
             border: none;
             border-bottom: 2px solid #ACD58A;
             background: #F3F3F3;
              }
             
           