﻿@using CustomerFeedback.LocalResource
@using System.Globalization
@using System.Threading
@model CustomerFeedback.Domain.Models.FeedBackModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <title>uabpay</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="~/Content/customerfeedback/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/customerfeedback/bootstrap/css/style.css">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="~/Content/customerfeedback/bootstrap/js/script.js">

    </script>
</head>

<body>
    <div class="header transaction-secure">
        <div class="row">
            <div class="col-xs-12">
                @*<h6 class="text-center">

                </h6>*@
                <div  class="text-right" style="padding-top: 10px; margin-bottom: 30px;">
                    @{
                        CultureInfo currentCulture = Thread.CurrentThread.CurrentCulture;
                        <a href="/Home/ChangeCurrentCulture/0"><img src="~/Content/images/uk.jpg" alt="English" style="width:25px;height:20px;float:right;margin-right: 10px;margin-left: 10px;" /></a>
                        <a href="/Home/ChangeCurrentCulture/1"><img src="~/Content/images/mm.jpg" alt="Myanmar" style="width:25px;height:20px;float:right;" /></a>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="header transaction-grey">
        <div class="row">
            <div class="col-xs-12">
                <h6 class="text-center" style="height: 75px;">
                    <img src="~/Content/customerfeedback/images/uab-logo.png" alt="uab-logo" style="height:75px;width:180px;">
                </h6>
            </div>
        </div>
            </div>
        <div class="container" style="height:30%">
            <div class="row">
                <div class="col-xs-12">
                    <div class="transaction-info text-center">
                        <div style="outline: none;">
                            <form name="star" action="~/Home/Thankyou" onsubmit="return validateRadio()" method="POST">
                                <center>
                                    <label><strong>@Resource.Happy</strong></label>
                                    <div class="feedback">
                                        <div class="rating" style="padding-right: 36px;">
                                            <input type="hidden" name="rating" id="rating" />
                                            <ul onMouseOut="resetRating();">
                                                <li id="1" class="li_star" onmouseover="highlightStar(this);" onmouseout="removeHighlight();" onClick="addRating(this);" value="1">
                                                    &#9733;

                                                </li>
                                                <li id="2" class="li_star" onmouseover="highlightStar(this);" onmouseout="removeHighlight();" onClick="addRating(this);" value="2">
                                                    &#9733;

                                                </li>
                                                <li id="3" class="li_star" onmouseover="highlightStar(this);" onmouseout="removeHighlight();" onClick="addRating(this);" value="3">
                                                    &#9733;

                                                </li>
                                                <li id="4" class="li_star" onmouseover="highlightStar(this);" onmouseout="removeHighlight();" onClick="addRating(this);" value="4">
                                                    &#9733;

                                                </li>
                                                <li id="5" class="li_star" onmouseover="highlightStar(this);" onmouseout="removeHighlight();" onClick="addRating(this);" value="5">
                                                    &#9733;

                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </center>
                                <div class="hide" id="test">
                                    <center>
                                        <label class="padding-top-bottom"><strong>@Resource.Recommend</strong></label>
                                        <div class="container1">
                                            <div class="feedback1">
                                                <div class="rating1" style="padding-right: 36px;">
                                                    <input type="hidden" name="rating" id="rating2" />
                                                    <ul onMouseOut="resetRating2();">
                                                        <li id="6" class="li_star2" onmouseover="highlightStar2(this);" onmouseout="removeHighlight2();" onClick="addRating2(this);" value="1">
                                                            &#9733;

                                                        </li>
                                                        <li id="7" class="li_star2" onmouseover="highlightStar2(this);" onmouseout="removeHighlight2();" onClick="addRating2(this);" value="2">
                                                            &#9733;

                                                        </li>
                                                        <li id="8" class="li_star2" onmouseover="highlightStar2(this);" onmouseout="removeHighlight2();" onClick="addRating2(this);" value="3">
                                                            &#9733;

                                                        </li>
                                                        <li id="9" class="li_star2" onmouseover="highlightStar2(this);" onmouseout="removeHighlight2();" onClick="addRating2(this);" value="4">
                                                            &#9733;

                                                        </li>
                                                        <li id="10" class="li_star2" onmouseover="highlightStar2(this);" onmouseout="removeHighlight2();" onClick="addRating2(this);" value="5">
                                                            &#9733;

                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </center>
                                    <br>
                                    <div>
                                        <label class="padding-top-bottom"><strong>@Resource.FSC</strong></label><br>
                                        <textarea id="messageBox1" name="sug" placeholder="@Resource.ProvideFSC"></textarea><br />
                                    </div>
                                    <div>
                                        <label class="padding-top-bottom"><strong>@Resource.ContactCustomer</strong></label><br>
                                        <input type="text" id="phoneno1" placeholder="@Resource.Phone" /><br /> <br />
                                        <input type="text" id="emailname1" placeholder="@Resource.Email" /><br />
                                    </div>
                                </div>
                                <div class="hide " id="all">
                                    <center>
                                        <label class="padding-top-bottom"><strong>@Resource.HelpUs</strong></label>
                                    </center>
                                    <div id="cb">
                                        <ul class="ks-cboxtags" style="padding-left: 0px;">
                                            <li> <input type="checkbox" id="checkboxOne" class="check" value="1" name="cs" /><label class="labefontsize" for="checkboxOne">@Resource.CustomerService</label></li>
                                            <li> <input type="checkbox" id="checkboxTwo" class="check" value="2" name="qt"><label class="labefontsize" for="checkboxTwo">@Resource.QueuingTime</label></li>
                                            <li> <input type="checkbox" id="checkboxThree" class="check" value="3" name="ba"><label class="labefontsize" for="checkboxThree">@Resource.Atmostphere</label></li>
                                            <li> <input type="checkbox" id="checkboxFour" class="check" value="4" name="bl"><label class="labefontsize" for="checkboxFour">@Resource.BranchLocation</label></li>
                                            <li> <input type="checkbox" id="checkboxFive" class="check" value="5" name="ii"><label class="labefontsize" for="checkboxFive">@Resource.InsuffcientInformation</label></li>
                                            <li> <input type="checkbox" id="checkboxSix" class="check" value="6"><label class="labefontsize" for="checkboxSix">@Resource.Others</label></li>
                                        </ul>
                                    </div><br>
                                    <div><center><textarea id="messageBox2" name="subject" placeholder="@Resource.Describe"></textarea></center></div>
                                    <div>
                                    <label class="padding-top-bottom"><strong>@Resource.FeedbackorSuggestion</strong></label><br>
                                    <textarea id="messageBox3" name="sug" placeholder="@Resource.ProvideFS"></textarea><br />
                                    </div>
                                    <div>
                                        <label class="padding-top-bottom"><strong>@Resource.ContactCustomer</strong></label><br>
                                        <input type="text" id="phoneno2" placeholder="@Resource.Phone" /><br /> <br />
                                        <input type="text" id="emailname2" placeholder="@Resource.Email" /><br />
                                    </div>
                                </div>
                                <center class="padding-top-bottom"><button class="submit" name="submit">@Resource.Submit</button></center>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer_grey transaction-grey" style="height: auto;">
            <div class="row">
                <div class="col-md-2">
                    <h6 class=""></h6>
                </div>
                <div class="col-md-3">
                    <table>
                        <tbody>
                            <tr>
                                <td colspan="3" style="padding-left:3px;"><span class="label-text-title">@Resource.Contactus</span></td>
                            </tr>
                            <tr stye="padding-right:1px;">
                                <td style="padding-right: 7px; padding-bottom:20px; padding-left:5px;">

                                    <img src="~/Content/customerfeedback/images/location.png" alt="uab-logo" class="text-center" style="height:17px;width:17px;">

                                </td>
                                <td colspan="2">
                                    <label class="label-text">
                                        @Resource.Address
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-bottom:18px; padding-left:5px;">
                                    <img src="~/Content/customerfeedback/images/phone.png" alt="uab-logo" class="text-center" style="height:17px;width:17px;">
                                </td>
                                <td colspan="2">
                                    <label class="label-text">
                                        +95 1 470 7000 <br>
                                        +95 1 860 1025, +95 1 860 1015
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-bottom:5px; padding-left:5px;">
                                    <img src="~/Content/customerfeedback/images/mail.png" alt="uab-logo" class="text-center" style="height:17px;width:17px;">
                                </td>
                                <td colspan="2">
                                    <label class="label-text">
                                        <a href="mailto:info@uab.com.mm">
                                            info@uab.com.mm

                                        </a>
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                    <h6 class=""></h6>
                </div>
                <div class="col-md-3">
                    <table>
                        <tbody>
                            <tr style="height:30px">
                                <td colspan="3" style="height:30px; padding-left:3px;"><span class="label-text-title">@Resource.Followus</span></td>
                            </tr>
                            <tr style="padding-right:1px; height:45px;">
                                <td colspan="3" style="height:30px; padding-left:5px;">
                                    <a href="https://www.facebook.com/uabbankmm"><img src="~/Content/customerfeedback/images/facebook.png" alt="uab-logo" class="text-center" style="height:25px;width:25px;"></a>
                                    <a href="https://www.instagram.com/uabbankmm"><img src="~/Content/customerfeedback/images/ig.png" alt="uab-logo" class="text-center" style="height:25px;width:25px;"></a>
                                    <a href="https://www.linkedin.com/company/uabbank"><img src="~/Content/customerfeedback/images/linkedin.png" alt="uab-logo" class="text-center" style="height:25px;width:25px;"></a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" style="height:30px; padding-left:5px;">
                                    <label class="label-text">
                                        @Resource.Feedbackandcomplaints</br>
                                        Call Center: +95 1 855 1335
                                    </label>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>

        <div class="footer transaction-secure">
            <div class="row">
                <div class="col-xs-12">
                    <h6 class="text-center"></h6>
                </div>
            </div>
        </div>
        <!-- footer -->
</body>

</html>