﻿
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>uabpay</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="~/Content/customerfeedback/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/customerfeedback/bootstrap/css/style.css">
</head>
<body>
    <div class="header transaction-secure">
        <div class="row">
            <div class="col-xs-12">
                <h6 class="text-center"></h6>
            </div>
        </div>
    </div>
    <div class="header transaction-grey">
        <div class="row">
            <div class="col-xs-12">
                <h6 class="text-center" style="height: 75px;">
                    <img src="~/Content/customerfeedback/images/uab-logo.png" alt="uab-logo" style="height:75px;width:180px;">
                </h6>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="height:auto; width:450px;">
        <div class="row">
            <div class="col-xs-12">
                <div class="transaction-info text-center" style="height:250px; margin-right:100%;">
                    <img src="~/Content/customerfeedback/images/thank-you.png" alt="thank you" class="thankyou img-responsive" >
                </div>
            </div>
        </div>

    </div>
    <div class="footer_grey transaction-grey" style="height: auto;">
        <div class="row">
            <div class="col-md-2">
                <h6 class=""></h6>
            </div>
            <div class="col-md-3">
                <table>
                    <tbody>
                        <tr>
                            <td colspan="3" style="padding-left:3px;"><span class="label-text-title">Contact us</span></td>
                        </tr>
                        <tr stye="padding-right:1px;">
                            <td style="padding-right: 7px; padding-bottom:20px; padding-left:5px;">

                                <img src="~/Content/customerfeedback/images/location.png" alt="uab-logo" class="text-center" style="height:17px;width:17px;">

                            </td>
                            <td colspan="2">
                                <label class="label-text">
                                    uab Tower @("@") Times City, Kyun Taw Road,
                                    Kamayut Township, Yangon 11041,
                                    Myanmar
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:18px; padding-left:5px;">
                                <img src="~/Content/customerfeedback/images/phone.png" alt="uab-logo" class="text-center" style="height:17px;width:17px;">
                            </td>
                            <td colspan="2">
                                <label class="label-text">
                                    +95 1 470 7000 <br>
                                    +95 1 860 1025, +95 1 860 1015
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:5px; padding-left:5px;">
                                <img src="~/Content/customerfeedback/images/mail.png" alt="uab-logo" class="text-center" style="height:17px;width:17px;">
                            </td>
                            <td colspan="2">
                                <label class="label-text">
                                    <a href="mailto:info@uab.com.mm">
                                        info@uab.com.mm

                                    </a>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2">
                <h6 class=""></h6>
            </div>
            <div class="col-md-3">
                <table>
                    <tbody>
                        <tr style="height:30px">
                            <td colspan="3" style="height:30px; padding-left:3px;"><span class="label-text-title">Follow us on</span></td>
                        </tr>
                        <tr style="padding-right:1px; height:45px;">
                            <td colspan="3" style="height:30px; padding-left:5px;">
                                <a href="https://www.facebook.com/uabbankmm"><img src="~/Content/customerfeedback/images/facebook.png" alt="uab-logo" class="text-center" style="height:25px;width:25px;"></a>
                                <a href="https://www.instagram.com/uabbankmm"><img src="~/Content/customerfeedback/images/ig.png" alt="uab-logo" class="text-center" style="height:25px;width:25px;"></a>
                                <a href="https://www.linkedin.com/company/uabbank"><img src="~/Content/customerfeedback/images/linkedin.png" alt="uab-logo" class="text-center" style="height:25px;width:25px;"></a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="height:30px; padding-left:5px;">
                                <label class="label-text">
                                    For enquiries, feedback and complaints, </br>
                                    Call Center: +95 1 855 1335
                                </label>
                            </td>
                        </tr>

                    </tbody>
                </table>
              
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
    <div class="footer transaction-secure">
        <div class="row">
            <div class="col-xs-12">
                <h6 class="text-center"></h6>
            </div>
        </div>
    </div>
</body>
</html>